
 @media(max-width:500px){
     span.greeting{
         font-size: 2em;
     }

     h2.myname{
         font-size: 2.5em;
     }

     h2.myentities{
        font-size: 1.4em;
    }

    .First-Step{
        display: none;
    }

    .whoiam{
        width: 350px;
        font-size: 3em;
    }

    .prob-1{
        background-image: linear-gradient(to right, #202ea7, rgb(12, 58, 88));
        padding-top:600px
    
    }
 }

 @media(min-width:1366px){
    #skill-one{
        padding-left: 20%;
    }
 }

.main-pic{
    height: 500px;
    background-image: linear-gradient(to right, #202ea7, rgb(12, 58, 88));
}

.header_me{
    background-color: rgb(29, 25, 25);
    padding-top: 08px;
    height: 50px;
}

.header_me h1{

    color: rgb(219, 219, 219);
    font-weight: 500;
    font-family: 'poppins';
}

.logo{
    font-family: 'roboto';
    font-weight: 300;
    font-size: 1.6em;
    padding-left: 0.5em;
    color: darkslategray;
}

.entrance_text{
    font-family: 'Poppins';
    color:white;

}

.text-light{
    font-weight: 100;
}

.row{
    margin-right: 0px;
    margin-left: 0px;

}

.prob-1{
    background-image: linear-gradient(to right, #202ea7, rgb(12, 58, 88));

}

.prob-2{
    background-image: linear-gradient(to right, #202ea7, rgb(12, 58, 88));

}

.prob-2 h3{
    color:white;
    font-weight: 300;
}


.prob-1 h3{
    color:white;
    font-weight: 300;
    padding-top: 02em;
    
}


.footer{
    background-image: linear-gradient(to right, #202ea7, rgb(12, 58, 88));
}



h6.skills{
    font-weight: 300px;
}

.specify-row h4{
    font-family: 'Poppins';
}

h6#specify-intro{

    font-family: 'Poppins';
    color:tomato;
    margin: 0px;
}

h4#specify-main{

    font-family: 'Poppins';
    margin: 0px;
    
}



#bg-specify{
    background-color: #615e5e;
    height: 200px;
    margin-bottom: 200px;
    margin-right: 300px;
    margin-left: 300px;
}

#skill h4{
    font-size: 1.2em;
    font-family: 'Poppins';
}

#skill p{
    font-size: 0.8em;
}


.pro-title h6{
    
    font-family:'Poppins';
    font-size: 2em;
}

.col-lg-3.show{
height:200px;

}

.col-lg-3.show img{
    padding-top:10px;
    padding-left:20px;
    height:200px;
    }

h6.bona{
    padding-top: 10px;
    font-size: 1.1em;
    padding-left:20px
}

.col-lg-3.show.pt-5 span{
font-weight: 100;
padding-left: 20px;
padding-top: 0px;
}

div.salomon-hill{
    padding-top: 300px;
}

.year-action.text-center h6{
    font-weight: 100;
    size: 0.8em;
}