 *{
    
 }

 
 @media(max-width:500px){
     span.greeting{
         font-size: 2em;
     }

     h2.myname{
         font-size: 2.5em;
     }

     h2.myentities{
        font-size: 1.4em;
    }

    .First-Step{
        display: none;
    }

    .whoiam{
        width: 350px;
        font-size: 3em;
    }
 }

.main-pic{
    height: 500px;
    background-image: linear-gradient(to right, #202ea7, rgb(12, 58, 88));
}

.header_me{
    background-color: rgb(29, 25, 25);
    padding-top: 08px;
    height: 50px;
}

.header_me h1{

    color: rgb(219, 219, 219);
    font-weight: 500;
    font-family: 'poppins';
}

.logo{
    font-family: 'roboto';
    font-weight: 300;
    font-size: 1.6em;
    padding-left: 0.5em;
    color: darkslategray;
}

.entrance_text{
    font-family: 'Poppins';
    color:white;

}

.text-light{
    font-weight: 100;
}

.row{
    margin-right: 0px;
    margin-left: 0px;

}

.prob-1{
    background-image: linear-gradient(to right, #202ea7, rgb(12, 58, 88));

}

.prob-1 h3{
    color:white;
    font-weight: 300;
    padding-top: 03em;
    padding-bottom: 03em;
}


.footer{
    background-image: linear-gradient(to right, #202ea7, rgb(12, 58, 88));
}

.row{
    margin-left: -10px !important;
}

h6.skills{
    font-weight: 300px;
}